<!DOCTYPE html>
<html>
    <head>
        <title>Bookface</title>
        <link rel="icon" type="image/png" href="./icon/jim.png">
        <link rel = 'stylesheet' href = 'css/style.css'>
    </head>
    <body>
        <center><h3>Welcome {{user.firstname}} {{user.lastname}}!</h3></center>
    </body>
</html>