<!DOCTYPE html>
<html>
    <head>
        <title>Bookface</title>
        <link rel="icon" type="image/png" href="./icon/jim.png">
        <link rel = 'stylesheet' href = 'css/style.css'>
    </head>
    <body>
        <center>
            <h1>Welcome to Bookface!</h1>
                <a href = 'signup' class = "reg-button">Sign Up</a><br><br>
                <a href = 'login' class = "reg-button">Log In</a>
        </center>
    </body>
</html>