<!DOCTYPE html>
<html>
    <head>
        <title>Bookface</title>
        <link rel="icon" type="image/png" href="./icon/jim.png">
        <link rel = 'stylesheet' href = 'css/style.css'>
    </head>
    <body>
        <center><h1>Welcome to Bookface!</h1></center>
            <div class = "formDiv" style="padding-left: 27%;">
                <form action = "/feed" method="POST">
                    <input type="text" class="inputField" name="email" style="width: 300px" placeholder="Email" required><br>
                    <input type="password" class="inputField" name="password" style="width: 300px" placeholder="Password"><br><br>
            </div>
            <center><button type="submit" class="reg-button"> Log In </button>       
                <a href = 'signup' class = "reg-button">Not a user? Sign Up</a></center>
            </form>
        </center>
    </body>
</html>