<header>
    <div class="nav">
        <p class="navp" style="margin-left: 15px; font-size: 22px; font-weight:bold">< Code > Book</p>
        <p class="navp"><a href='/api/feed?user={{user.id}}'>Feed</a></p>
        <p class="navp"><a href='/api/users/me?user={{user.id}}'>Profile</a></p>
        <p class="navp"><a href='/api/users/logout?user={{user.id}}&token={{token}}'>Logout</a></p></span>
    </div>
</header>