*{
    padding-top: 1%;
    padding-left: 4.3%;
    padding-right: 4.3%;
 }

 body {
     text-size-adjust: 100px;
 }

.formDiv {

    border: none;
    padding-left: 13%;
    font-size: medium;
}

label {
    font-size: 14px;
    padding-left: 1.5%;
}
.inputField {
    margin: 5px;
    padding-left: 10px;
   width: 500px;
   height: 30px;
   font-family: monospace;
   color: black;
   opacity: 100%;
}

.reg-button {
    border: none;
    border-radius: 10px;
    width: max-content;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    background-color: lightseagreen;    
}

.reg-button:hover {
    background-color: lightseagreen;
    opacity: 70%;
}

.radio {
    color: lavenderblush;
}